body {
    padding: 0px;
    margin:0px;
}

.menu {
    position:relative;
    z-index: 1;
    gap: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
    color:white;
    margin-bottom:80px;
    font-size: 1.3em;
}

h1 {
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: black;
    color:white;
    font-size: 3em;
}

p {
    text-align: center;
}

.background {
    background-image: url('./chicken-parm.jpg');
    height: 100vh;
    width:100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    position: fixed;
    top: 0px;
    z-index:0;
}

.aboutDiv, .hoursDiv {
    padding: 80px;
    border: 2px solid black;
    border-radius: 10%;
    position: relative;
    text-align: center;
    justify-self: center;
    z-index:1;
    background-color: rgba(0, 0, 0, 0.474);
    color: white;
    font-size: large;
    font-weight: bold;
}

.aboutDiv {
    font-size: 1.6em;
    width: 40vw;
}

.hoursDiv {
    text-align: left;
    width: 25vw;
}

.hoursDiv > ul {
    padding-left: 20px;
}

.hoursDiv > li {
    margin: 5px;
}

.contentDiv {
    padding: 10px;
    gap: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: .33fr;
    grid-auto-rows: .5fr;
}